<!-- nav bar -->
<nav class="navbar navbar-dark bg-transparent">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout"> Logout </a>
      <a class="navbar-brand" href="/members"> Back to Home </a>
    </div>
  </div>
</nav>

<!-- main container -->
<div class="container">
  <!-- first row containg the header-->
  <div class="row">
    <div id="mainHead" class="col-md-6 col-md-offset-3">
      <h1 class="whiteText">Welcome <span class="member-name whiteText">Mike </span>!</h1>
      <h2 class="whiteText">Let's add some bookmarks</h2>
    </div>
  </div>
  <!-- second row conataining the google search bar -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <form id="googleForm">
          <input class="input" type="text" id="google" /><br />
          <button type="submit" id="googleSubmit" class="btn btn-primary">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-md-offset-3">

      <div  class="d-flex justify-content-center">
        {{!-- form to add new bookmark --}}
        <form class="create-form d-flex justify-content-center">
          <div class="form-group">
            <div class="d-flex justify-content-center">
              <input style="text-align: center" placeholder="Title" type="text" id="title" name="name" />
            </div>
            <div>
              <input style="text-align: center" placeholder="www.website.com" type="text" id="url" name="name" />
            </div>
            <div>
              <input style="text-align: center" placeholder="Image" type="text" id="image" name="name" />
            </div>
          </div>
          <button class="btn btn-success" id="bookmarkSubmit" type="submit">Save your Bookmark</button>
        </form>
        {{!--END of form to add new bookmark --}}

      </div>

    </div>
  </div>
</div>
{{!-- div to display all bookmarks --}}
<div class="row">
  <div id="bookmarkDiv" class="col-md-6 col-md-offset-3">
    {{#each bookmark}}

    <div class="whiteText">
      <p>{{dataValues.title}}</p>
      <p><a target="_blank" href="https://{{dataValues.url}}"> {{dataValues.url}} </a></p>
      <button class="delete-bookmark btn btn-danger" data-id="{{dataValues.id}}"><i class="fas fa-trash-alt"></i></button>
    </div>

    {{else}}

    <p>No Bookmarks Saved yet.</p>

    {{/each}}

  </div>
  <!-- Modal -->
  <!-- Modal -->
  {{!-- <div id="myModal" class="modal" role="dialog">
    <div class="modal-dialog"> --}}

      <!-- Modal content-->
      {{!-- <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"> &times; </button>
          <h4 class="modal-title">Add A Bookmark</h4>
        </div>
        <div class="modal-body">

        </div>


      </div>
    </div> --}}
    {{!--END OF MODAL --}}
  </div>



  <script src="https://kit.fontawesome.com/8e9f94faa6.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/addBookmark.js"></script>